<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttons</key>
	<dict>
		<key>button-001</key>
		<dict>
			<key>type</key>
			<string>insert between</string>
			<key>name</key>
			<string>brackets</string>
			<key>text</key>
			<string>[ ]</string>
			<key>display</key>
			<string>[]</string>
			<key>backuplength</key>
			<integer>-1</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>hotbar</string>
			<key>imagename</key>
			<string>brackets</string>
			<key>currentposition</key>
			<string>hotbar</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-002</key>
		<dict>
			<key>type</key>
			<string>insert between</string>
			<key>name</key>
			<string>curlybrackets</string>
			<key>text</key>
			<string>{ }</string>
			<key>display</key>
			<string>{}</string>
			<key>backuplength</key>
			<integer>-1</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>hotbar</string>
			<key>imagename</key>
			<string>curlybrackets</string>
			<key>currentposition</key>
			<string>hotbar</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-003</key>
		<dict>
			<key>type</key>
			<string>insert between</string>
			<key>name</key>
			<string>function</string>
			<key>text</key>
			<string>(){}</string>
			<key>display</key>
			<string>(){\r\n}</string>
			<key>backuplength</key>
			<integer>-6</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>hotbar</string>
			<key>imagename</key>
			<string>function</string>
			<key>currentposition</key>
			<string>hotbar</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-004</key>
		<dict>
			<key>type</key>
			<string>insert between</string>
			<key>name</key>
			<string>lessgreaterthan</string>
			<key>text</key>
			<string>$lt$gt</string>
			<key>display</key>
			<string>$lt$gt</string>
			<key>backuplength</key>
			<integer>-1</integer>
			<key>leadingspace</key>
			<true/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>hotbar</string>
			<key>imagename</key>
			<string>lessgreaterthan</string>
			<key>currentposition</key>
			<string>hotbar</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-005</key>
		<dict>
			<key>type</key>
			<string>insert between</string>
			<key>name</key>
			<string>parenthesis</string>
			<key>text</key>
			<string>( )</string>
			<key>display</key>
			<string>()</string>
			<key>backuplength</key>
			<integer>-1</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>hotbar</string>
			<key>imagename</key>
			<string>parenthesis</string>
			<key>currentposition</key>
			<string>hotbar</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-006</key>
		<dict>
			<key>type</key>
			<string>insert between</string>
			<key>name</key>
			<string>quotes</string>
			<key>text</key>
			<string>&quot; &quot;</string>
			<key>display</key>
			<string>\&quot;\&quot;</string>
			<key>backuplength</key>
			<integer>-1</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>hotbar</string>
			<key>imagename</key>
			<string>quotes</string>
			<key>currentposition</key>
			<string>hotbar</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-007</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>class</string>
			<key>text</key>
			<string>class: b(){\r\n}</string>
			<key>display</key>
			<string>class</string>
			<key>backuplength</key>
			<integer>-7</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>class</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-008</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>else</string>
			<key>text</key>
			<string>else{\r\n}</string>
			<key>display</key>
			<string>else</string>
			<key>backuplength</key>
			<integer>-2</integer>
			<key>leadingspace</key>
			<true/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>else</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-009</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>enum</string>
			<key>text</key>
			<string>enum{ case 1, case 2}</string>
			<key>display</key>
			<string>enum</string>
			<key>backuplength</key>
			<integer>-14</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>enum</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-010</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>false</string>
			<key>text</key>
			<string>false</string>
			<key>display</key>
			<string>false</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<true/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>false</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-011</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>func</string>
			<key>text</key>
			<string>func</string>
			<key>display</key>
			<string>func</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<true/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>hotbar</string>
			<key>imagename</key>
			<string>func</string>
			<key>currentposition</key>
			<string>hotbar</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-012</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>if let</string>
			<key>text</key>
			<string>if let</string>
			<key>display</key>
			<string>if let</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>if let</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-013</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>if</string>
			<key>text</key>
			<string>if</string>
			<key>display</key>
			<string>if</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>if</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-014</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>let</string>
			<key>text</key>
			<string>let</string>
			<key>display</key>
			<string>let</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>let</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-015</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>nil</string>
			<key>text</key>
			<string>nil</string>
			<key>display</key>
			<string>nil</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>nil</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-016</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>public</string>
			<key>text</key>
			<string>public</string>
			<key>display</key>
			<string>public</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>public</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-017</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>return</string>
			<key>text</key>
			<string>return</string>
			<key>display</key>
			<string>return</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>return</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-018</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>self</string>
			<key>text</key>
			<string>self</string>
			<key>display</key>
			<string>self</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>self</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-019</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>struct</string>
			<key>text</key>
			<string>struct (){}</string>
			<key>display</key>
			<string>struct (){\r\n}</string>
			<key>backuplength</key>
			<integer>-6</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>struct</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-020</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>switch</string>
			<key>text</key>
			<string>switch{case 1, case2 }</string>
			<key>display</key>
			<string>switch{\r\ncase1,\r\ncase2\r\n}</string>
			<key>backuplength</key>
			<integer>-9</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>switch</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-021</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>true</string>
			<key>text</key>
			<string>true</string>
			<key>display</key>
			<string>true</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<true/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>true</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-022</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>var</string>
			<key>text</key>
			<string>var</string>
			<key>display</key>
			<string>var</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>var</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-023</key>
		<dict>
			<key>type</key>
			<string>keyword</string>
			<key>name</key>
			<string>weak</string>
			<key>text</key>
			<string>weak</string>
			<key>display</key>
			<string>weak</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<true/>
			<key>trailingspace</key>
			<true/>
			<key>startingposition</key>
			<string>background</string>
			<key>imagename</key>
			<string>weak</string>
			<key>currentposition</key>
			<string>background</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-024</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>q</string>
			<key>text</key>
			<string>q</string>
			<key>display</key>
			<string>q</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard0</string>
			<key>imagename</key>
			<string>q</string>
			<key>currentposition</key>
			<string>keyboard0</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-025</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>w</string>
			<key>text</key>
			<string>w</string>
			<key>display</key>
			<string>w</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard0</string>
			<key>imagename</key>
			<string>w</string>
			<key>currentposition</key>
			<string>keyboard0</string>
			<key>order</key>
			<integer>1</integer>
		</dict>
		<key>button-026</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>e</string>
			<key>text</key>
			<string>e</string>
			<key>display</key>
			<string>e</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard0</string>
			<key>imagename</key>
			<string>e</string>
			<key>currentposition</key>
			<string>keyboard0</string>
			<key>order</key>
			<integer>2</integer>
		</dict>
		<key>button-027</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>r</string>
			<key>text</key>
			<string>r</string>
			<key>display</key>
			<string>r</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard0</string>
			<key>imagename</key>
			<string>r</string>
			<key>currentposition</key>
			<string>keyboard0</string>
			<key>order</key>
			<integer>3</integer>
		</dict>
		<key>button-028</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>t</string>
			<key>text</key>
			<string>t</string>
			<key>display</key>
			<string>t</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard0</string>
			<key>imagename</key>
			<string>t</string>
			<key>currentposition</key>
			<string>keyboard0</string>
			<key>order</key>
			<integer>4</integer>
		</dict>
		<key>button-029</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>y</string>
			<key>text</key>
			<string>y</string>
			<key>display</key>
			<string>y</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard0</string>
			<key>imagename</key>
			<string>y</string>
			<key>currentposition</key>
			<string>keyboard0</string>
			<key>order</key>
			<integer>5</integer>
		</dict>
		<key>button-030</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>u</string>
			<key>text</key>
			<string>u</string>
			<key>display</key>
			<string>u</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard0</string>
			<key>imagename</key>
			<string>u</string>
			<key>currentposition</key>
			<string>keyboard0</string>
			<key>order</key>
			<integer>6</integer>
		</dict>
		<key>button-031</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>i</string>
			<key>text</key>
			<string>i</string>
			<key>display</key>
			<string>i</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard0</string>
			<key>imagename</key>
			<string>i</string>
			<key>currentposition</key>
			<string>keyboard0</string>
			<key>order</key>
			<integer>7</integer>
		</dict>
		<key>button-032</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>o</string>
			<key>text</key>
			<string>o</string>
			<key>display</key>
			<string>o</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard0</string>
			<key>imagename</key>
			<string>o</string>
			<key>currentposition</key>
			<string>keyboard0</string>
			<key>order</key>
			<integer>8</integer>
		</dict>
		<key>button-033</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>p</string>
			<key>text</key>
			<string>p</string>
			<key>display</key>
			<string>p</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard0</string>
			<key>imagename</key>
			<string>p</string>
			<key>currentposition</key>
			<string>keyboard0</string>
			<key>order</key>
			<integer>9</integer>
		</dict>
		<key>button-034</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>a</string>
			<key>text</key>
			<string>a</string>
			<key>display</key>
			<string>a</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard1</string>
			<key>imagename</key>
			<string>a</string>
			<key>currentposition</key>
			<string>keyboard1</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-035</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>s</string>
			<key>text</key>
			<string>s</string>
			<key>display</key>
			<string>s</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard1</string>
			<key>imagename</key>
			<string>s</string>
			<key>currentposition</key>
			<string>keyboard1</string>
			<key>order</key>
			<integer>1</integer>
		</dict>
		<key>button-036</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>d</string>
			<key>text</key>
			<string>d</string>
			<key>display</key>
			<string>d</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard1</string>
			<key>imagename</key>
			<string>d</string>
			<key>currentposition</key>
			<string>keyboard1</string>
			<key>order</key>
			<integer>2</integer>
		</dict>
		<key>button-037</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>f</string>
			<key>text</key>
			<string>f</string>
			<key>display</key>
			<string>f</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard1</string>
			<key>imagename</key>
			<string>f</string>
			<key>currentposition</key>
			<string>keyboard1</string>
			<key>order</key>
			<integer>3</integer>
		</dict>
		<key>button-038</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>g</string>
			<key>text</key>
			<string>g</string>
			<key>display</key>
			<string>g</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard1</string>
			<key>imagename</key>
			<string>g</string>
			<key>currentposition</key>
			<string>keyboard1</string>
			<key>order</key>
			<integer>4</integer>
		</dict>
		<key>button-039</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>h</string>
			<key>text</key>
			<string>h</string>
			<key>display</key>
			<string>h</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard1</string>
			<key>imagename</key>
			<string>h</string>
			<key>currentposition</key>
			<string>keyboard1</string>
			<key>order</key>
			<integer>5</integer>
		</dict>
		<key>button-040</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>j</string>
			<key>text</key>
			<string>j</string>
			<key>display</key>
			<string>j</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard1</string>
			<key>imagename</key>
			<string>j</string>
			<key>currentposition</key>
			<string>keyboard1</string>
			<key>order</key>
			<integer>6</integer>
		</dict>
		<key>button-041</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>k</string>
			<key>text</key>
			<string>k</string>
			<key>display</key>
			<string>k</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard1</string>
			<key>imagename</key>
			<string>k</string>
			<key>currentposition</key>
			<string>keyboard1</string>
			<key>order</key>
			<integer>7</integer>
		</dict>
		<key>button-042</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>l</string>
			<key>text</key>
			<string>l</string>
			<key>display</key>
			<string>l</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard1</string>
			<key>imagename</key>
			<string>l</string>
			<key>currentposition</key>
			<string>keyboard1</string>
			<key>order</key>
			<integer>8</integer>
		</dict>
		<key>button-043</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>shift</string>
			<key>text</key>
			<string>shift</string>
			<key>display</key>
			<string>shift</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard2</string>
			<key>imagename</key>
			<string>Shift</string>
			<key>currentposition</key>
			<string>keyboard2</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<key>button-044</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>z</string>
			<key>text</key>
			<string>z</string>
			<key>display</key>
			<string>z</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard2</string>
			<key>imagename</key>
			<string>z</string>
			<key>currentposition</key>
			<string>keyboard2</string>
			<key>order</key>
			<integer>1</integer>
		</dict>
		<key>button-045</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>x</string>
			<key>text</key>
			<string>x</string>
			<key>display</key>
			<string>x</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard2</string>
			<key>imagename</key>
			<string>x</string>
			<key>currentposition</key>
			<string>keyboard2</string>
			<key>order</key>
			<integer>2</integer>
		</dict>
		<key>button-046</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>c</string>
			<key>text</key>
			<string>c</string>
			<key>display</key>
			<string>c</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard2</string>
			<key>imagename</key>
			<string>c</string>
			<key>currentposition</key>
			<string>keyboard2</string>
			<key>order</key>
			<integer>3</integer>
		</dict>
		<key>button-047</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>v</string>
			<key>text</key>
			<string>v</string>
			<key>display</key>
			<string>v</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard2</string>
			<key>imagename</key>
			<string>v</string>
			<key>currentposition</key>
			<string>keyboard2</string>
			<key>order</key>
			<integer>4</integer>
		</dict>
		<key>button-048</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>b</string>
			<key>text</key>
			<string>b</string>
			<key>display</key>
			<string>b</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard2</string>
			<key>imagename</key>
			<string>b</string>
			<key>currentposition</key>
			<string>keyboard2</string>
			<key>order</key>
			<integer>5</integer>
		</dict>
		<key>button-049</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>n</string>
			<key>text</key>
			<string>n</string>
			<key>display</key>
			<string>n</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard2</string>
			<key>imagename</key>
			<string>n</string>
			<key>currentposition</key>
			<string>keyboard2</string>
			<key>order</key>
			<integer>6</integer>
		</dict>
		<key>button-050</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>m</string>
			<key>text</key>
			<string>m</string>
			<key>display</key>
			<string>m</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard2</string>
			<key>imagename</key>
			<string>m</string>
			<key>currentposition</key>
			<string>keyboard2</string>
			<key>order</key>
			<integer>7</integer>
		</dict>
		<key>button-051</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string>delete</string>
			<key>text</key>
			<string>delete</string>
			<key>display</key>
			<string>del</string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard2</string>
			<key>imagename</key>
			<string>Delete</string>
			<key>currentposition</key>
			<string>keyboard2</string>
			<key>order</key>
			<integer>8</integer>
		</dict>
		<key>button-05</key>
		<dict>
			<key>type</key>
			<string>keyboard</string>
			<key>name</key>
			<string></string>
			<key>text</key>
			<string></string>
			<key>backuplength</key>
			<integer>0</integer>
			<key>leadingspace</key>
			<false/>
			<key>trailingspace</key>
			<false/>
			<key>startingposition</key>
			<string>keyboard3</string>
			<key>imagename</key>
			<string></string>
			<key>currentposition</key>
			<string>keyboard3</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
